<div style="font-size:18px">{*name*}</div>
<b>The first proverb is..</b>
<div>
<span style="font-size: 18px; border-bottom: solid 2px; margin:10px;">{*word*}</span>
<span style="font-size: 18px; border-bottom: solid 2px; margin:10px;"><a href="{*link_url*}">Add the next word!</a></span></div>
<div><%= link_to 'See More Word-At-A-Time Proverbs!', proverbs_path %></div>